#top {
    background: url(../images/bmy.jpg) no-repeat center center;
    background-size: 100% auto;
    margin: 0;
}

#top .container {
    background: rgba(205, 225, 288, 0.6);
    /*background: #CDE458;*/
    height: 100%;
}

#top .container .title {
    background: rgba(205, 225, 288, 0.6);
    text-align: center;
    font-size: 100px;
    margin: 120px;
    margin-bottom: 0;
    color: #3B9DA2;
}

#top .container .sub-title {
    background: #3B9DA2;
    margin-bottom: 120px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

#top .container .sub-title a {
    color: #FFF;
    font-style: italic;
}

#middle {
    background: #6BCDE2;
    color: #FFF;
    padding: 30px 0;

}

.signup-title {
    font-size: 35px;
    border: 2px solid #FFF;
    width: 300px;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    color: #FFF;
    display: block;
    font-weight: bold;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari å’Œ Chrome */
    -o-transition: all .5s; /* Opera */
}


.signup-title:hover {
    color: #6BCDE2;
    background: #FFF; 
}

.signup-subtitle {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.signup-subtitle a {
    text-decoration: underline;
    color: #E26B00;
    font-style: italic;
}

#bottom {
    background: #528EC6;
    color: white;
}

#bottom p {
    text-align: center;
}

#bottom div a {
    color: #FFF;
    font-weight: bold;
    text-decoration: underline;
}

#bottom .mail-list {
    text-align: center;
}

